<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ absolute_url(asset('build/mail.css')) }}">
    </head>
    <body>
        <div>
            <img class="logo" src="{{ absolute_url(asset('img/ticket-mail.png')) }}" alt="Ticket Louvre"/>
            <span class="title">Ticket Louvre</span>
        </div>

        <p class="date">{{ 'Visit day : ' | trans }}{{ ticket.dateVisit | localizeddate('none', 'none', null, null, 'EEEE d MMMM Y') }} {% if (ticket.halfDay == 1) %} {{ 'for half-day'|trans}} {% else %} {{ 'for all day'|trans }} {% endif %}</p>

        <p class="code">{{ 'Access code : ' | trans }} {{ ticket.code }}</p>

        <div class="visitor-title">{{ 'For '| trans }} {% if (ticket.nbVisitor == 1) %} 1 {{ 'visitor' | trans }} {% else %} {{ ticket.nbVisitor }} {{ 'visitors' | trans }} {% endif %} :</div>
        {% for visitor in ticket.visitors %}
            <div class="visitor"> - <b>{{ visitor.firstName | capitalize }} {{ visitor.lastName | capitalize}}</b> - <i>{{ 'Price : '| trans }}{{ visitor.rate /100 }} €</i></div>
        {% endfor %}
    </body>
</html>